In [1]:
import pandas as pd
import os, sys
source_path = os.path.join(os.getcwd(), os.pardir, 'preprocessing')
sys.path.append(source_path)

from preprocess import (
    show_df, 
    date_features, 
    preprocess, 
    ToTorch, 
    get_loader, 
    ts_split,
    cont_cat_split,
    dataloader_by_stock,
    get_train_data,
    TextTransform
)

C:\Users\gilbe\anaconda3\envs\tokyo\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
computer_name1 = 'gilbe'
computer_name2 = 'Gilberto-BE'

ROOT_PATH = f'c:/Users/{computer_name1}/Documents/TokyoData'

In [3]:
stock_list = pd.read_csv(f'{ROOT_PATH}/stock_list.csv')
print(stock_list.info())
print()
print(stock_list.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4417 entries, 0 to 4416
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SecuritiesCode          4417 non-null   int64
 1   EffectiveDate           4417 non-null   int64
 2   Name                    4417 non-null   object
 3   Section/Products        4417 non-null   object
 4   NewMarketSegment        3772 non-null   object
 5   33SectorCode            4417 non-null   object
 6   33SectorName            4417 non-null   object
 7   17SectorCode            4417 non-null   object
 8   17SectorName            4417 non-null   object
 9   NewIndexSeriesSizeCode  4417 non-null   object
 10  NewIndexSeriesSize      4417 non-null   object
 11  TradeDate               4121 non-null   float64
 12  Close                   4121 non-null   float64
 13  IssuedShares            4121 non-null   float64
 14  MarketCapitalization    4121 non-null   float64
 15  Universe0               4417 non-null   bool
dtypes: bool(1), float64(4), int64(2), object(9)
memory usage: 522.1+ KB
None

   SecuritiesCode  EffectiveDate  \
0            1301       20211230
1            1305       20211230
2            1306       20211230
3            1308       20211230
4            1309       20211230

                                                Name  \
0                                   KYOKUYO CO.,LTD.
1                                    Daiwa ETF-TOPIX
2              NEXT FUNDS TOPIX Exchange Traded Fund
3             Nikko Exchange Traded Index Fund TOPIX
4  NEXT FUNDS ChinaAMC SSE50 Index Exchange Trade...

           Section/Products NewMarketSegment 33SectorCode  \
0  First Section (Domestic)     Prime Market           50
1                ETFs/ ETNs              NaN            -
2                ETFs/ ETNs              NaN            -
3                ETFs/ ETNs              NaN            -
4                ETFs/ ETNs              NaN            -

                        33SectorName 17SectorCode 17SectorName  \
0  Fishery, Agriculture and Forestry            1       FOODS
1                                  -            -            -
2                                  -            -            -
3                                  -            -            -
4                                  -            -            -

  NewIndexSeriesSizeCode NewIndexSeriesSize   TradeDate    Close  \
0                      7      TOPIX Small 2  20211230.0   3080.0
1                      -                  -  20211230.0   2097.0
2                      -                  -  20211230.0   2073.5
3                      -                  -  20211230.0   2053.0
4                      -                  -  20211230.0  44280.0

   IssuedShares  MarketCapitalization  Universe0
0  1.092828e+07          3.365911e+10       True
1  3.634636e+09          7.621831e+12      False
2  7.917718e+09          1.641739e+13      False
3  3.736943e+09          7.671945e+12      False
4  7.263200e+04          3.216145e+09      False

In [4]:



'/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/financials.csv'
'/train_files/trades.csv'

train_df = pd.read_csv(f'{ROOT_PATH}/train_files/stock_prices.csv')
train_df['Date'] = pd.to_datetime(train_df['Date']) 
train_df.set_index('Date', inplace=True)
# train_df = date_features(train_df)
print(train_df.head(2))

train_options = pd.read_csv(f'{ROOT_PATH}/train_files/options.csv', low_memory=False)
train_financials = pd.read_csv(f'{ROOT_PATH}/train_files/financials.csv', low_memory=False)
train_trades = pd.read_csv(f'{ROOT_PATH}/train_files/trades.csv', low_memory=False)


print(train_df.head(2))
print(train_df.info())
print('.' * 20)
print()



print('OPTIONS')
print(train_options.head(2))
print(train_options.info())
print('.' * 50)
print()


print('FINANCIALS')
print(train_financials.head(2))
print(train_financials.info())
print('.' * 50)
print()


print('TRADES')
print(train_trades.head(2))
print(train_trades.info())
print('.' * 50)
print()

                    RowId  SecuritiesCode    Open    High     Low   Close  \
Date
2017-01-04  20170104_1301            1301  2734.0  2755.0  2730.0  2742.0
2017-01-04  20170104_1332            1332   568.0   576.0   563.0   571.0

             Volume  AdjustmentFactor  ExpectedDividend  SupervisionFlag  \
Date
2017-01-04    31400               1.0               NaN            False
2017-01-04  2798500               1.0               NaN            False

              Target
Date
2017-01-04  0.000730
2017-01-04  0.012324
                    RowId  SecuritiesCode    Open    High     Low   Close  \
Date
2017-01-04  20170104_1301            1301  2734.0  2755.0  2730.0  2742.0
2017-01-04  20170104_1332            1332   568.0   576.0   563.0   571.0

             Volume  AdjustmentFactor  ExpectedDividend  SupervisionFlag  \
Date
2017-01-04    31400               1.0               NaN            False
2017-01-04  2798500               1.0               NaN            False

              Target
Date
2017-01-04  0.000730
2017-01-04  0.012324
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2332531 entries, 2017-01-04 to 2021-12-03
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   RowId             object
 1   SecuritiesCode    int64
 2   Open              float64
 3   High              float64
 4   Low               float64
 5   Close             float64
 6   Volume            int64
 7   AdjustmentFactor  float64
 8   ExpectedDividend  float64
 9   SupervisionFlag   bool
 10  Target            float64
dtypes: bool(1), float64(7), int64(2), object(1)
memory usage: 198.0+ MB
None
....................

OPTIONS
             DateCode        Date  OptionsCode  WholeDayOpen  WholeDayHigh  \
0  20170104_132010018  2017-01-04    132010018         650.0         650.0
1  20170104_132010118  2017-01-04    132010118           0.0           0.0

   WholeDayLow  WholeDayClose NightSessionOpen NightSessionHigh  \
0        480.0          480.0           0.0000           0.0000
1          0.0            0.0           0.0000           0.0000

  NightSessionLow  ... Putcall  LastTradingDay  SpecialQuotationDay  \
0          0.0000  ...       1        20170112             20170113
1          0.0000  ...       1        20170112             20170113

   SettlementPrice  TheoreticalPrice  BaseVolatility  ImpliedVolatility  \
0            480.0          478.4587         17.4736            17.5865
1            575.0          571.1385         17.4736            16.5000

   InterestRate  DividendRate  Dividend
0        0.0091           0.0       0.0
1        0.0091           0.0       0.0

[2 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3567694 entries, 0 to 3567693
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   DateCode             object
 1   Date                 object
 2   OptionsCode          int64
 3   WholeDayOpen         float64
 4   WholeDayHigh         float64
 5   WholeDayLow          float64
 6   WholeDayClose        float64
 7   NightSessionOpen     object
 8   NightSessionHigh     object
 9   NightSessionLow      object
 10  NightSessionClose    object
 11  DaySessionOpen       float64
 12  DaySessionHigh       float64
 13  DaySessionLow        float64
 14  DaySessionClose      float64
 15  TradingVolume        int64
 16  OpenInterest         int64
 17  TradingValue         int64
 18  ContractMonth        int64
 19  StrikePrice          float64
 20  DaySessionVolume     int64
 21  Putcall              int64
 22  LastTradingDay       int64
 23  SpecialQuotationDay  int64
 24  SettlementPrice      float64
 25  TheoreticalPrice     float64
 26  BaseVolatility       float64
 27  ImpliedVolatility    float64
 28  InterestRate         float64
 29  DividendRate         float64
 30  Dividend             float64
dtypes: float64(16), int64(9), object(6)
memory usage: 843.8+ MB
None
..................................................

FINANCIALS
   DisclosureNumber       DateCode        Date  SecuritiesCode DisclosedDate  \
0      2.016121e+13  20170104_2753  2017-01-04          2753.0    2017-01-04
1      2.017010e+13  20170104_3353  2017-01-04          3353.0    2017-01-04

  DisclosedTime  DisclosedUnixTime                         TypeOfDocument  \
0      07:30:00       1.483483e+09  3QFinancialStatements_Consolidated_JP
1      15:00:00       1.483510e+09  3QFinancialStatements_Consolidated_JP

  CurrentPeriodEndDate TypeOfCurrentPeriod  ... ForecastEarningsPerShare  \
0           2016-12-31                  3Q  ...                   319.76
1           2016-11-30                  3Q  ...                   485.36

  ApplyingOfSpecificAccountingOfTheQuarterlyFinancialStatements  \
0                                                NaN
1                                                NaN

  MaterialChangesInSubsidiaries ChangesBasedOnRevisionsOfAccountingStandard  \
0                         False                                        True
1                         False                                        True

  ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard  \
0                                              False
1                                              False

  ChangesInAccountingEstimates RetrospectiveRestatement  \
0                        False                    False
1                        False                    False

  NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock  \
0                                            6848800
1                                            2035000

  NumberOfTreasuryStockAtTheEndOfFiscalYear AverageNumberOfShares
0                                         －               6848800
1                                    118917               1916083

[2 rows x 45 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92956 entries, 0 to 92955
Data columns (total 45 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   DisclosureNumber                                                              92954 non-null  float64
 1   DateCode                                                                      92954 non-null  object
 2   Date                                                                          92956 non-null  object
 3   SecuritiesCode                                                                92954 non-null  float64
 4   DisclosedDate                                                                 92954 non-null  object
 5   DisclosedTime                                                                 92954 non-null  object
 6   DisclosedUnixTime                                                             92954 non-null  float64
 7   TypeOfDocument                                                                92954 non-null  object
 8   CurrentPeriodEndDate                                                          92954 non-null  object
 9   TypeOfCurrentPeriod                                                           92954 non-null  object
 10  CurrentFiscalYearStartDate                                                    92954 non-null  object
 11  CurrentFiscalYearEndDate                                                      92954 non-null  object
 12  NetSales                                                                      75448 non-null  object
 13  OperatingProfit                                                               73446 non-null  object
 14  OrdinaryProfit                                                                75328 non-null  object
 15  Profit                                                                        75380 non-null  object
 16  EarningsPerShare                                                              74958 non-null  object
 17  TotalAssets                                                                   75433 non-null  object
 18  Equity                                                                        75431 non-null  object
 19  EquityToAssetRatio                                                            74739 non-null  object
 20  BookValuePerShare                                                             35773 non-null  object
 21  ResultDividendPerShare1stQuarter                                              74380 non-null  object
 22  ResultDividendPerShare2ndQuarter                                              55940 non-null  object
 23  ResultDividendPerShare3rdQuarter                                              37677 non-null  object
 24  ResultDividendPerShareFiscalYearEnd                                           19416 non-null  object
 25  ResultDividendPerShareAnnual                                                  19415 non-null  object
 26  ForecastDividendPerShare1stQuarter                                            19241 non-null  object
 27  ForecastDividendPerShare2ndQuarter                                            42619 non-null  object
 28  ForecastDividendPerShare3rdQuarter                                            60807 non-null  object
 29  ForecastDividendPerShareFiscalYearEnd                                         79021 non-null  object
 30  ForecastDividendPerShareAnnual                                                79022 non-null  object
 31  ForecastNetSales                                                              82842 non-null  object
 32  ForecastOperatingProfit                                                       81083 non-null  object
 33  ForecastOrdinaryProfit                                                        82718 non-null  object
 34  ForecastProfit                                                                83856 non-null  object
 35  ForecastEarningsPerShare                                                      82842 non-null  object
 36  ApplyingOfSpecificAccountingOfTheQuarterlyFinancialStatements                 7249 non-null   object
 37  MaterialChangesInSubsidiaries                                                 64504 non-null  object
 38  ChangesBasedOnRevisionsOfAccountingStandard                                   74895 non-null  object
 39  ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard                      74895 non-null  object
 40  ChangesInAccountingEstimates                                                  74126 non-null  object
 41  RetrospectiveRestatement                                                      70396 non-null  object
 42  NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock  74918 non-null  object
 43  NumberOfTreasuryStockAtTheEndOfFiscalYear                                     74918 non-null  object
 44  AverageNumberOfShares                                                         74349 non-null  object
dtypes: float64(3), object(42)
memory usage: 31.9+ MB
None
..................................................

TRADES
         Date StartDate EndDate Section  TotalSales  TotalPurchases  \
0  2017-01-04       NaN     NaN     NaN         NaN             NaN
1  2017-01-05       NaN     NaN     NaN         NaN             NaN

   TotalTotal  TotalBalance  ProprietarySales  ProprietaryPurchases  ...  \
0         NaN           NaN               NaN                   NaN  ...
1         NaN           NaN               NaN                   NaN  ...

   CityBKsRegionalBKsEtcTotal  CityBKsRegionalBKsEtcBalance  TrustBanksSales  \
0                         NaN                           NaN              NaN
1                         NaN                           NaN              NaN

   TrustBanksPurchases  TrustBanksTotal  TrustBanksBalance  \
0                  NaN              NaN                NaN
1                  NaN              NaN                NaN

   OtherFinancialInstitutionsSales  OtherFinancialInstitutionsPurchases  \
0                              NaN                                  NaN
1                              NaN                                  NaN

   OtherFinancialInstitutionsTotal  OtherFinancialInstitutionsBalance
0                              NaN                                NaN
1                              NaN                                NaN

[2 rows x 56 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1712 entries, 0 to 1711
Data columns (total 56 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 1712 non-null   object
 1   StartDate                            765 non-null    object
 2   EndDate                              765 non-null    object
 3   Section                              765 non-null    object
 4   TotalSales                           765 non-null    float64
 5   TotalPurchases                       765 non-null    float64
 6   TotalTotal                           765 non-null    float64
 7   TotalBalance                         765 non-null    float64
 8   ProprietarySales                     765 non-null    float64
 9   ProprietaryPurchases                 765 non-null    float64
 10  ProprietaryTotal                     765 non-null    float64
 11  ProprietaryBalance                   765 non-null    float64
 12  BrokerageSales                       765 non-null    float64
 13  BrokeragePurchases                   765 non-null    float64
 14  BrokerageTotal                       765 non-null    float64
 15  BrokerageBalance                     765 non-null    float64
 16  IndividualsSales                     765 non-null    float64
 17  IndividualsPurchases                 765 non-null    float64
 18  IndividualsTotal                     765 non-null    float64
 19  IndividualsBalance                   765 non-null    float64
 20  ForeignersSales                      765 non-null    float64
 21  ForeignersPurchases                  765 non-null    float64
 22  ForeignersTotal                      765 non-null    float64
 23  ForeignersBalance                    765 non-null    float64
 24  SecuritiesCosSales                   765 non-null    float64
 25  SecuritiesCosPurchases               765 non-null    float64
 26  SecuritiesCosTotal                   765 non-null    float64
 27  SecuritiesCosBalance                 765 non-null    float64
 28  InvestmentTrustsSales                765 non-null    float64
 29  InvestmentTrustsPurchases            765 non-null    float64
 30  InvestmentTrustsTotal                765 non-null    float64
 31  InvestmentTrustsBalance              765 non-null    float64
 32  BusinessCosSales                     765 non-null    float64
 33  BusinessCosPurchases                 765 non-null    float64
 34  BusinessCosTotal                     765 non-null    float64
 35  BusinessCosBalance                   765 non-null    float64
 36  OtherInstitutionsSales               765 non-null    float64
 37  OtherInstitutionsPurchases           765 non-null    float64
 38  OtherInstitutionsTotal               765 non-null    float64
 39  OtherInstitutionsBalance             765 non-null    float64
 40  InsuranceCosSales                    765 non-null    float64
 41  InsuranceCosPurchases                765 non-null    float64
 42  InsuranceCosTotal                    765 non-null    float64
 43  InsuranceCosBalance                  765 non-null    float64
 44  CityBKsRegionalBKsEtcSales           765 non-null    float64
 45  CityBKsRegionalBKsEtcPurchase        765 non-null    float64
 46  CityBKsRegionalBKsEtcTotal           765 non-null    float64
 47  CityBKsRegionalBKsEtcBalance         765 non-null    float64
 48  TrustBanksSales                      765 non-null    float64
 49  TrustBanksPurchases                  765 non-null    float64
 50  TrustBanksTotal                      765 non-null    float64
 51  TrustBanksBalance                    765 non-null    float64
 52  OtherFinancialInstitutionsSales      765 non-null    float64
 53  OtherFinancialInstitutionsPurchases  765 non-null    float64
 54  OtherFinancialInstitutionsTotal      765 non-null    float64
 55  OtherFinancialInstitutionsBalance    765 non-null    float64
dtypes: float64(52), object(4)
memory usage: 749.1+ KB
None
..................................................

# Merging data

### Ideas
Train some stocks from some industries

In [5]:
stock_list[['SecuritiesCode', 'MarketCapitalization']]

      SecuritiesCode  MarketCapitalization
0               1301          3.365911e+10
1               1305          7.621831e+12
2               1306          1.641739e+13
3               1308          7.671945e+12
4               1309          3.216145e+09
...              ...                   ...
4412            9994          2.654474e+10
4413            9995          1.083499e+10
4414            9996          1.361913e+10
4415            9997          6.894633e+10
4416           25935          6.623362e+10

[4417 rows x 2 columns]

In [6]:
merged_data = stock_list.merge(train_df, on='SecuritiesCode')

In [7]:
print(merged_data[merged_data['SecuritiesCode'] == 1301].shape)
display(merged_data[merged_data['SecuritiesCode'] == 1301])

(1202, 26)

,SecuritiesCode,EffectiveDate,Name,Section/Products,NewMarketSegment,33SectorCode,33SectorName,17SectorCode,17SectorName,NewIndexSeriesSizeCode,...,RowId,Open,High,Low,Close_y,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,...,20170104_1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,...,20170105_1301,2743.0,2747.0,2735.0,2738.0,17900,1.0,NaN,False,0.002920
2,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,...,20170106_1301,2734.0,2744.0,2720.0,2740.0,19900,1.0,NaN,False,-0.001092
3,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,...,20170110_1301,2745.0,2754.0,2735.0,2748.0,24200,1.0,NaN,False,-0.005100
4,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,...,20170111_1301,2748.0,2752.0,2737.0,2745.0,9300,1.0,NaN,False,-0.003295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,...,20211129_1301,2975.0,2984.0,2951.0,2951.0,14300,1.0,NaN,False,0.003793
1198,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,...,20211130_1301,2953.0,2997.0,2900.0,2900.0,20500,1.0,NaN,False,0.007558
1199,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,...,20211201_1301,2909.0,2936.0,2909.0,2911.0,10600,1.0,NaN,False,0.016706
1200,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,...,20211202_1301,2949.0,2973.0,2933.0,2933.0,15200,1.0,NaN,False,-0.003689
1201,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,...,20211203_1301,2983.0,2983.0,2965.0,2982.0,11400,1.0,NaN,False,0.031639

In [8]:
stock_list['Section/Products'].unique()

array(['First Section (Domestic)', 'ETFs/ ETNs',
       'JASDAQ(Standard / Domestic)', 'JASDAQ(Growth/Domestic)',
       'Mothers (Domestic)', 'Second Section(Domestic)',
       'First Section (Foreign)',
       'REIT, Venture Funds, Country Funds and Infrastructure Funds',
       'JASDAQ(Standard / Foreign)', 'Mothers (Foreign)',
       'Second Section(Foreign)'], dtype=object)

In [9]:
stock_list['NewMarketSegment'].unique()

array(['Prime Market', nan, 'Standard Market', 'Growth Market',
       'Prime Market (Foreign Stock)', 'Standard Market (Foreign Stock)',
       'Growth Market (Foreign Stock)'], dtype=object)

In [10]:
stock_list['IssuedShares'].unique()

array([1.09282830e+07, 3.63463562e+09, 7.91771845e+09, ...,
       9.15264000e+06, 9.72444720e+07, 3.42469620e+07])

In [11]:
print(stock_list.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4417 entries, 0 to 4416
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SecuritiesCode          4417 non-null   int64
 1   EffectiveDate           4417 non-null   int64
 2   Name                    4417 non-null   object
 3   Section/Products        4417 non-null   object
 4   NewMarketSegment        3772 non-null   object
 5   33SectorCode            4417 non-null   object
 6   33SectorName            4417 non-null   object
 7   17SectorCode            4417 non-null   object
 8   17SectorName            4417 non-null   object
 9   NewIndexSeriesSizeCode  4417 non-null   object
 10  NewIndexSeriesSize      4417 non-null   object
 11  TradeDate               4121 non-null   float64
 12  Close                   4121 non-null   float64
 13  IssuedShares            4121 non-null   float64
 14  MarketCapitalization    4121 non-null   float64
 15  Universe0               4417 non-null   bool
dtypes: bool(1), float64(4), int64(2), object(9)
memory usage: 522.1+ KB
None

In [12]:
print(stock_list.shape)

(4417, 16)

In [13]:
# !jupyter notebook --NotebookApp.iopub_data_rate_limit=10000000
print(stock_list['NewMarketSegment'])
print()
token_list = list(stock_list['NewMarketSegment'])

print('token_list[:20]:')
print(token_list[:20])
txt_trans = TextTransform(token_list)
print(txt_trans.transform())

0          Prime Market
1                   NaN
2                   NaN
3                   NaN
4                   NaN
             ...
4412    Standard Market
4413       Prime Market
4414    Standard Market
4415       Prime Market
4416                NaN
Name: NewMarketSegment, Length: 4417, dtype: object

token_list[:20]:
['Prime Market', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Prime Market']
[2, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 2, 2, 6, 6, 6, 6, 6, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 2, 4, 2, 2, 4, 4, 4, 4, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 0, 0, 4, 6, 2, 2, 2, 4, 2, 4, 2, 2, 0, 2, 4, 2, 0, 4, 4, 4, 0, 2, 4, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 4, 6, 6, 6, 6, 6, 6, 6, 6, 4, 2, 2, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 2, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 2, 2, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 4, 2, 2, 4, 4, 2, 2, 2, 6, 4, 4, 2, 6, 4, 4, 4, 0, 4, 4, 4, 2, 4, 2, 4, 4, 3, 4, 4, 2, 6, 4, 2, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 6, 4, 4, 4, 2, 2, 4, 4, 4, 6, 2, 4, 4, 2, 4, 2, 2, 6, 4, 4, 6, 2, 2, 2, 2, 2, 2, 2, 6, 2, 2, 2, 2, 2, 2, 6, 4, 2, 2, 4, 4, 6, 4, 2, 4, 6, 6, 4, 6, 2, 2, 2, 2, 2, 6, 6, 2, 6, 6, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 6, 2, 4, 2, 2, 2, 4, 4, 4, 2, 2, 4, 4, 2, 2, 2, 2, 2, 4, 2, 6, 6, 6, 6, 4, 4, 4, 2, 2, 4, 2, 6, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 2, 4, 2, 6, 6, 6, 6, 6, 6, 6, 6, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 6, 4, 4, 4, 4, 6, 6, 2, 2, 0, 6, 4, 2, 2, 4, 2, 0, 4, 0, 4, 2, 0, 2, 4, 2, 0, 6, 2, 4, 0, 4, 2, 2, 2, 4, 4, 4, 4, 0, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 4, 6, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 2, 4, 4, 2, 2, 2, 2, 4, 2, 0, 4, 2, 2, 2, 4, 4, 2, 4, 0, 2, 2, 4, 4, 4, 0, 4, 4, 4, 0, 2, 2, 4, 2, 6, 0, 2, 2, 4, 2, 4, 4, 2, 2, 2, 0, 0, 2, 4, 4, 2, 4, 6, 6, 0, 4, 6, 4, 4, 2, 4, 2, 2, 4, 6, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 4, 0, 2, 2, 4, 2, 4, 6, 4, 2, 2, 2, 4, 4, 2, 2, 2, 0, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 4, 0, 4, 4, 2, 2, 2, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 2, 2, 6, 2, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 4, 2, 6, 4, 0, 2, 4, 2, 2, 2, 4, 4, 2, 2, 6, 6, 4, 2, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 2, 4, 4, 4, 6, 4, 2, 2, 4, 4, 4, 4, 2, 4, 2, 6, 2, 2, 2, 4, 2, 4, 4, 4, 2, 4, 4, 2, 4, 4, 4, 6, 4, 4, 4, 6, 2, 6, 4, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2, 4, 4, 4, 2, 2, 2, 4, 6, 4, 4, 4, 4, 4, 4, 2, 4, 4, 4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 4, 2, 2, 2, 4, 4, 4, 2, 4, 2, 4, 2, 4, 4, 6, 6, 6, 6, 2, 4, 2, 2, 4, 4, 2, 4, 2, 4, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2, 2, 4, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2, 4, 2, 0, 4, 4, 6, 6, 2, 0, 6, 2, 0, 2, 0, 0, 0, 6, 4, 4, 4, 2, 2, 4, 4, 4, 4, 4, 6, 4, 4, 2, 2, 2, 2, 4, 2, 2, 2, 4, 0, 4, 2, 2, 2, 2, 2, 4, 4, 0, 2, 4, 2, 4, 4, 0, 4, 2, 4, 2, 4, 4, 4, 4, 4, 2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 2, 6, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 4, 4, 6, 4, 2, 0, 2, 2, 0, 0, 2, 0, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 6, 2, 2, 4, 4, 6, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2, 2, 4, 0, 2, 0, 4, 4, 2, 4, 2, 6, 0, 2, 2, 2, 2, 2, 4, 4, 4, 6, 2, 4, 4, 0, 6, 2, 6, 2, 2, 6, 4, 0, 4, 4, 4, 2, 2, 4, 4, 6, 6, 2, 4, 6, 0, 4, 4, 2, 6, 4, 2, 2, 4, 6, 6, 4, 6, 6, 6, 2, 0, 6, 2, 2, 6, 2, 6, 4, 4, 6, 6, 4, 2, 0, 2, 4, 6, 6, 2, 4, 4, 6, 2, 4, 4, 4, 4, 4, 2, 4, 2, 2, 6, 4, 2, 4, 4, 4, 4, 4, 4, 0, 2, 4, 6, 4, 2, 4, 4, 4, 6, 4, 2, 6, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 2, 6, 4, 2, 0, 4, 0, 4, 4, 4, 4, 6, 4, 2, 2, 4, 4, 2, 4, 4, 4, 4, 2, 4, 2, 2, 4, 4, 6, 2, 6, 2, 6, 2, 2, 6, 0, 6, 6, 2, 2, 6, 2, 6, 4, 6, 6, 6, 0, 2, 6, 0, 6, 0, 2, 6, 0, 2, 2, 6, 6, 2, 4, 0, 6, 6, 4, 4, 0, 0, 0, 2, 4, 4, 6, 2, 4, 2, 4, 2, 4, 4, 2, 2, 4, 0, 0, 2, 2, 6, 2, 4, 2, 2, 0, 4, 4, 0, 0, 0, 2, 4, 2, 4, 2, 6, 2, 0, 2, 4, 4, 4, 2, 4, 2, 2, 4, 4, 4, 4, 6, 4, 2, 2, 2, 0, 0, 0, 0, 2, 2, 0, 6, 2, 2, 4, 2, 2, 4, 4, 4, 0, 0, 4, 4, 2, 0, 0, 6, 2, 2, 2, 6, 2, 2, 2, 2, 4, 0, 2, 2, 4, 2, 6, 4, 0, 4, 2, 0, 2, 2, 2, 2, 2, 0, 2, 4, 2, 6, 4, 2, 2, 6, 0, 0, 0, 2, 0, 2, 2, 0, 2, 4, 6, 4, 4, 0, 6, 4, 0, 4, 6, 2, 2, 6, 4, 4, 4, 6, 4, 6, 6, 4, 4, 2, 2, 2, 4, 4, 2, 4, 2, 4, 0, 2, 4, 0, 2, 4, 0, 4, 4, 2, 4, 0, 6, 4, 4, 4, 4, 4, 0, 4, 0, 4, 0, 0, 4, 2, 6, 4, 4, 4, 6, 2, 2, 2, 2, 2, 4, 4, 0, 2, 2, 4, 4, 4, 4, 4, 4, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 4, 2, 4, 4, 4, 4, 0, 2, 2, 2, 0, 0, 0, 0, 0, 4, 4, 0, 2, 0, 0, 2, 2, 0, 2, 4, 4, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 2, 4, 2, 0, 0, 2, 6, 2, 2, 2, 4, 4, 4, 2, 4, 4, 2, 4, 4, 4, 4, 6, 0, 0, 2, 2, 2, 4, 0, 0, 2, 4, 0, 4, 6, 0, 2, 0, 2, 2, 2, 2, 0, 0, 4, 0, 0, 0, 2, 0, 2, 0, 2, 4, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 4, 0, 0, 0, 2, 2, 2, 2, 4, 2, 2, 4, 6, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 2, 2, 2, 2, 0, 0, 0, 2, 0, 0, 0, 0, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 6, 2, 6, 2, 4, 4, 4, 4, 2, 0, 0, 0, 0, 0, 0, 4, 4, 0, 4, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 0, 4, 0, 4, 4, 0, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 6, 2, 2, 2, 4, 4, 2, 2, 4, 4, 4, 4, 4, 6, 0, 4, 4, 4, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 4, 2, 6, 2, 2, 4, 4, 2, 6, 4, 2, 2, 2, 2, 4, 2, 0, 2, 4, 0, 4, 2, 4, 2, 6, 2, 2, 2, 4, 2, 2, 4, 4, 6, 2, 4, 6, 2, 2, 2, 2, 4, 2, 2, 4, 4, 4, 4, 4, 2, 6, 4, 4, 4, 2, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 4, 0, 0, 0, 2, 0, 2, 0, 0, 0, 2, 0, 4, 6, 2, 2, 4, 4, 4, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 4, 0, 2, 0, 0, 0, 0, 0, 4, 0, 2, 2, 2, 0, 0, 0, 0, 2, 4, 2, 0, 2, 0, 0, 2, 0, 2, 0, 2, 2, 2, 2, 4, 2, 2, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 4, 4, 0, 4, 0, 0, 6, 0, 4, 2, 2, 2, 2, 6, 4, 6, 2, 6, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 6, 4, 6, 4, 2, 0, 0, 0, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2, 0, 4, 0, 0, 0, 6, 0, 2, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 2, 2, 2, 4, 4, 2, 2, 2, 4, 4, 4, 4, 2, 4, 4, 4, 2, 2, 2, 4, 2, 6, 2, 4, 4, 4, 4, 2, 2, 6, 4, 2, 4, 2, 2, 4, 2, 2, 4, 2, 6, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 4, 4, 2, 6, 6, 4, 2, 4, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 4, 2, 2, 6, 4, 4, 2, 2, 2, 4, 4, 4, 2, 4, 4, 2, 4, 4, 4, 2, 0, 2, 4, 2, 2, 4, 4, 4, 0, 6, 2, 4, 6, 4, 4, 4, 2, 6, 4, 2, 2, 2, 2, 4, 4, 2, 2, 0, 2, 2, 2, 4, 4, 0, 4, 4, 2, 0, 6, 2, 2, 2, 2, 5, 0, 0, 0, 0, 0, 4, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 6, 4, 4, 2, 2, 2, 4, 2, 4, 0, 0, 4, 0, 0, 2, 6, 2, 2, 4, 2, 4, 4, 2, 6, 4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 0, 2, 2, 2, 4, 6, 4, 4, 4, 2, 2, 4, 4, 6, 4, 4, 4, 2, 6, 4, 4, 2, 2, 2, 2, 2, 0, 0, 4, 2, 2, 2, 4, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2, 4, 4, 2, 4, 4, 4, 2, 2, 4, 2, 2, 4, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 6, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 4, 4, 2, 4, 4, 4, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 2, 2, 6, 2, 2, 2, 2, 4, 4, 2, 6, 6, 4, 2, 4, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 4, 4, 4, 6, 2, 2, 4, 4, 2, 4, 6, 4, 4, 2, 4, 2, 2, 0, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 4, 2, 6, 0, 4, 2, 2, 2, 2, 4, 2, 6, 4, 4, 4, 4, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 4, 2, 6, 2, 4, 4, 4, 4, 4, 2, 2, 2, 2, 4, 4, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 4, 4, 4, 4, 4, 2, 4, 2, 4, 4, 4, 4, 4, 4, 2, 4, 4, 4, 2, 2, 2, 4, 4, 4, 2, 4, 4, 2, 2, 4, 2, 2, 4, 4, 4, 4, 2, 2, 4, 4, 4, 4, 0, 0, 2, 4, 0, 0, 4, 0, 0, 2, 2, 4, 0, 0, 0, 4, 4, 0, 0, 2, 4, 0, 2, 2, 2, 2, 4, 4, 4, 2, 4, 6, 6, 0, 0, 2, 2, 0, 2, 4, 6, 2, 6, 2, 0, 2, 4, 6, 0, 0, 2, 2, 2, 0, 4, 0, 2, 0, 2, 2, 6, 2, 2, 2, 2, 2, 6, 2, 2, 4, 4, 4, 2, 2, 2, 4, 4, 2, 2, 2, 4, 4, 2, 4, 4, 4, 2, 4, 4, 2, 4, 4, 4, 6, 4, 2, 0, 2, 2, 0, 0, 4, 0, 0, 2, 0, 0, 0, 2, 2, 2, 4, 6, 4, 2, 0, 2, 0, 0, 2, 0, 2, 2, 0, 2, 2, 2, 2, 4, 4, 2, 4, 2, 2, 4, 4, 4, 4, 0, 4, 2, 4, 2, 2, 4, 2, 4, 4, 2, 4, 4, 2, 2, 0, 6, 4, 2, 2, 2, 4, 2, 4, 2, 2, 6, 2, 2, 6, 4, 2, 2, 4, 6, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 2, 6, 6, 2, 2, 4, 2, 2, 4, 2, 2, 4, 6, 2, 4, 2, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 4, 4, 4, 2, 4, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4, 2, 4, 2, 2, 4, 4, 4, 2, 4, 6, 4, 4, 4, 4, 2, 2, 4, 2, 4, 2, 2, 6, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 6, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 0, 0, 2, 4, 6, 2, 2, 6, 2, 0, 2, 2, 4, 6, 4, 4, 2, 0, 4, 4, 0, 4, 0, 4, 4, 2, 0, 4, 2, 0, 0, 2, 0, 0, 0, 2, 4, 4, 0, 0, 2, 4, 2, 2, 0, 0, 6, 0, 4, 0, 0, 6, 2, 2, 2, 2, 6, 2, 2, 0, 4, 0, 0, 4, 2, 2, 2, 0, 2, 2, 2, 6, 4, 4, 4, 6, 4, 2, 2, 4, 4, 4, 6, 4, 2, 4, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 6, 4, 2, 2, 2, 4, 2, 4, 0, 1, 4, 2, 2, 2, 2, 2, 2, 2, 6, 4, 6, 2, 6, 4, 6, 2, 2, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 2, 2, 6, 4, 2, 6, 2, 2, 2, 2, 6, 4, 2, 2, 2, 6, 2, 4, 2, 4, 4, 6, 4, 4, 4, 4, 2, 2, 4, 2, 2, 2, 6, 2, 6, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 6, 2, 4, 2, 4, 2, 4, 2, 4, 4, 4, 4, 4, 4, 6, 4, 2, 2, 2, 4, 2, 2, 6, 2, 4, 2, 2, 4, 2, 6, 2, 4, 4, 4, 2, 4, 2, 4, 2, 4, 2, 4, 2, 4, 4, 4, 6, 4, 4, 6, 4, 4, 4, 4, 2, 2, 2, 4, 2, 6, 4, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 6, 2, 4, 2, 4, 4, 6, 6, 4, 2, 2, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2, 6, 4, 2, 4, 2, 4, 6, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2, 0, 2, 2, 2, 0, 2, 2, 0, 4, 0, 4, 0, 2, 4, 0, 0, 0, 0, 0, 4, 4, 2, 2, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 2, 0, 4, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 4, 4, 4, 4, 2, 4, 2, 4, 0, 4, 2, 2, 4, 0, 4, 4, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 4, 2, 2, 2, 6, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 4, 4, 4, 2, 2, 2, 2, 4, 4, 6, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 6, 2, 6, 4, 4, 2, 2, 6, 2, 4, 4, 2, 2, 4, 2, 2, 2, 2, 4, 6, 2, 2, 2, 4, 2, 2, 2, 4, 4, 4, 4, 2, 2, 4, 4, 4, 4, 2, 6, 2, 4, 4, 0, 0, 0, 6, 2, 6, 0, 0, 2, 2, 4, 0, 0, 0, 0, 2, 2, 0, 0, 0, 2, 0, 4, 2, 0, 0, 0, 0, 0, 0, 2, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 2, 2, 2, 4, 6, 2, 4, 4, 2, 4, 4, 2, 2, 2, 4, 4, 4, 4, 6, 2, 4, 4, 2, 4, 4, 4, 2, 4, 2, 6, 4, 4, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 6, 2, 2, 4, 2, 2, 4, 4, 4, 2, 2, 4, 2, 4, 2, 4, 4, 4, 2, 4, 4, 2, 4, 2, 4, 2, 2, 4, 2, 6, 2, 6, 2, 4, 2, 4, 4, 2, 2, 4, 2, 2, 4, 4, 4, 2, 2, 4, 2, 2, 4, 4, 2, 4, 4, 4, 4, 2, 4, 2, 6, 4, 2, 4, 6, 2, 6, 2, 6, 2, 2, 4, 2, 2, 4, 4, 4, 4, 2, 2, 2, 4, 2, 4, 2, 6, 2, 4, 4, 2, 2, 4, 4, 4, 4, 4, 2, 2, 4, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4, 0, 4, 0, 0, 4, 4, 2, 4, 4, 0, 0, 4, 0, 6, 0, 4, 0, 0, 4, 4, 1, 2, 2, 6, 4, 0, 4, 4, 4, 2, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 4, 2, 2, 4, 4, 2, 6, 2, 4, 0, 2, 0, 0, 0, 2, 4, 4, 4, 0, 4, 0, 4, 4, 0, 4, 4, 4, 4, 2, 4, 0, 4, 4, 2, 2, 2, 2, 2, 2, 4, 2, 6, 4, 4, 0, 4, 2, 4, 6, 4, 4, 4, 2, 2, 4, 2, 2, 4, 4, 4, 4, 6, 6, 2, 4, 4, 2, 6, 4, 2, 4, 2, 2, 6, 4, 4, 6, 2, 4, 4, 4, 4, 4, 4, 4, 4, 2, 6, 6, 2, 4, 4, 4, 4, 4, 4, 4, 2, 4, 4, 2, 2, 6, 2, 2, 4, 2, 2, 4, 6, 2, 4, 4, 2, 4, 4, 2, 4, 2, 4, 4, 4, 4, 2, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2, 6, 4, 2, 4, 2, 2, 6, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 4, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 4, 6, 4, 4, 2, 2, 2, 6, 2, 4, 4, 4, 4, 2, 6, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 6, 2, 4, 6, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 6, 2, 2, 2, 4, 4, 4, 4, 4, 2, 4, 2, 2, 4, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 4, 4, 6, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 6, 2, 2, 6, 2, 4, 2, 6, 2, 6, 6, 2, 4, 2, 6, 4, 2, 6, 4, 4, 4, 2, 4, 2, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4, 6, 4, 4, 6, 2, 2, 4, 2, 4, 6, 4, 2, 2, 6, 2, 2, 2, 2, 2, 2, 2, 2, 6, 4, 2, 6, 4, 2, 2, 2, 2, 2, 6, 6, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 6, 2, 2, 2, 2, 2, 6, 2, 4, 2, 2, 2, 2, 2, 6, 2, 6, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 6, 6, 2, 2, 2, 4, 2, 6, 2, 2, 2, 4, 2, 4, 2, 2, 4, 6, 4, 2, 2, 2, 6, 2, 4, 2, 4, 6, 2, 6, 2, 2, 2, 4, 4, 2, 2, 4, 2, 2, 6, 6, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 6, 2, 2, 6, 6, 6, 6, 2, 2, 4, 4, 6, 4, 4, 2, 2, 2, 6, 2, 2, 2, 2, 6, 6, 2, 4, 2, 6, 4, 4, 4, 2, 2, 2, 2, 4, 4, 6, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 6, 4, 2, 4, 2, 2, 6, 4, 2, 2, 2, 6, 2, 2, 2, 2, 6, 4, 4, 4, 4, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 4, 4, 4, 2, 4, 2, 4, 0, 2, 4, 4, 4, 4, 4, 6, 2, 2, 0, 2, 4, 2, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 4, 4, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 4, 6, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 4, 4, 6, 2, 2, 4, 2, 4, 4, 4, 4, 4, 2, 2, 4, 0, 0, 4, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0, 2, 2, 4, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 2, 4, 4, 4, 6, 2, 4, 0, 0, 0, 2, 2, 4, 6, 2, 2, 6, 6, 6, 6, 6, 6, 6, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 4, 4, 4, 2, 4, 2, 2, 0, 4, 2, 4, 4, 6, 4, 4, 4, 4, 2, 4, 4, 4, 4, 4, 6, 6, 2, 4, 4, 4, 2, 2, 2, 2, 5, 2, 2, 2, 4, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 4, 2, 4, 4, 2, 2, 2, 2, 4, 6, 2, 4, 4, 4, 4, 4, 2, 2, 4, 0, 2, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 6, 4, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 4, 4, 4, 2, 4, 2, 6, 2, 6, 4, 2, 4, 6, 2, 2, 4, 4, 4, 4, 2, 6, 4, 2, 4, 2, 4, 2, 4, 2, 6, 4, 4, 4, 2, 2, 2, 2, 4, 2, 4, 4, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 6, 2, 4, 2, 2, 6, 2, 4, 4, 4, 6, 2, 2, 4, 4, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 6, 2, 2, 6, 4, 2, 4, 4, 4, 4, 4, 2, 6, 4, 4, 6, 2, 2, 2, 4, 6, 2, 2, 2, 4, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4, 2, 4, 4, 4, 4, 2, 2, 4, 2, 4, 2, 4, 4, 2, 6, 2, 2, 4, 4, 4, 4, 6, 4, 4, 4, 4, 2, 4, 4, 2, 2, 2, 4, 6, 2, 2, 2, 4, 4, 2, 6, 4, 2, 2, 4, 6, 4, 4, 4, 4, 2, 4, 4, 4, 4, 4, 4, 2, 2, 4, 2, 2, 2, 2, 6, 4, 4, 2, 4, 2, 6]